.btn {
  border: none;
  background-color: #F8346B;
  color: white;
  box-shadow: 0 4px 18px rgba(248, 52, 107, 0.35),
  inset 0 1px 0 rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  min-width: 100px;
  &:disabled{
    background-color: #f183a2;
    cursor: auto;
  }
}

.noBorder {
  background-color: #fff;
  color: #F8346B;
  border: 2px #F8346B solid;
  box-shadow: none;
}