.filesContainer {
  padding: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;

  .filesList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

  }
}